/* Base CSS Declarations */


@charset "utf-8";
@import "mixins";

html {

}

body {
    margin: 0;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



@import "components";
